<div class="row">
  <div class="small-12 large-6 large-push-6 columns">
    <ul class="inline-list">
      <li><%= link_to "Terms & Conditions", "/terms-conditions" %></li>
      <li><%= mail_to "support@dummyapp.com", "Contact us" %></li>
    </ul>
  </div>
  <div class="small-12 large-6 large-pull-6 columns">
    <p>
      &copy; 2014 Cascade Apps. All Rights Reserved.
      <br />
      Cascade Apps LLC.<br />
      P.O. Box 1210<br />
      Bend, OR 97709
    </p>
  </div>
</div>
