<section id="try">
  <div class="row">
    <div class="small-12 large-8 large-offset-1 columns">
      <h2>Start your free trial now. We're sure you'll love it.</h2>
    </div>
    <div class="small-12 large-3 columns">
      <%= link_to "Try Finishes", "/signup", class: "button" %>
    </div>
  </div>
</section>
