.logo {
  height: 44px;
  max-width: none;
  width: 174px;
}

.full-width.row {
  max-width: 100%;
}

.row-pad {
  padding: 0 rem-calc(17) 0 rem-calc(17);
}

.comments {
  padding: 1em rem-calc(17) 0 rem-calc(17);
}
