/* Site */
$intro-color: #fff;

$features-bg-color: #ccc;

$footer-bg-color: #044d68;
$footer-text-color:  #fff;
$footer-link-color: #22a9e1;

/* User */
$header-links-color: #fff;
$header-icons-color: #448ccb;
$header-org-links-color: #3a82be;

$h1-color: #40444b;
$h2-color: #fff;
$h2-bg-color: #7cb2d6;
$h3-color: #878e98;

$sidebar-h1-color: #7d96a4;
$sidebar-bg-color: #dae1e5;
$sidebar-border-color: #7d95a3;
$sidebar-active-bg-color: #82a8c1;
$sidebar-active-link-color: #fff;
$sidebar-link-color: #40444b;
$sidebar-action-link-color: #7d96a4;
$sidebar-action-link-border-color: #7d96a4;

$tabbar-link-color: #448ccb;

$tabs-bg-color: #7cb2d6;
$tabs-border-color: #7d96a4;
$tabs-link-color: #fff;
$tabs-active-bg-color: #3a82be;
$tabs-active-border-color: #286ea8;

$info-header-bg-color: #e9f0f6;
$info-border-color: #7d95a3;
$info-balance-color: #fff;
$info-balance-bg-color: #21639a;

$body-font-color: #54595f;

$tabs-content-link-color: #3a82be;
