<p>You have a project with an unsatisfied deadline that is fast approaching.</p>

<p>
  Please view your project deadlines <%= link_to "here", project_deadlines_url(@project) %> and make any necessary selections.
</p>
